

h1{
    margin-bottom: 50px;
    font-size: 4rem;
}

p{
    margin-bottom: 50px;
    font-size: 2rem;   
}

h3{
    font-size:3rem
}


img{
    width:500px;
  }

  .container1{
    width:100rem;
    margin: 0 auto;
    display: flex;
  }